.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 50px;
}

.box {
  width: 150px;
  height: 150px;
  margin: 20px;
  border: 2px solid #333;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

.box img {
  width: 100%;
  height: auto;
}
